#wrapper {
    display: grid;
    height: 600px;
    background-color: white;
}





#innergrid { 
    display: grid;
    width: 1fr;
    grid-template-areas: "header header header1"                                "nav main section"                                    "section1 section1 section"                            "section2 section2 section"                            "footer footer section";    
    column-gap: 20px;
    
}

div {
    border: solid black 1px;

    
}

#header {
   grid-area: header;
}

#nav {
   grid-area: nav;
}

#main {
   grid-area: main;
}

#section1 {
   grid-area: section;
}

#section2 {
   grid-area: section2;
}

#footer {
   grid-area: footer;
    
}
#header1{
    grid-area: header1;
}
#section{
    grid-area: section; 
}
html{ 
background-color: grey;
}
h1{
text-align: center;
}